tools/PIX/v5.01.2/xsd/camt.054.spi.1.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           targetNamespace='https://www.bcb.gov.br/pi/camt.054/1.3'
           xmlns='https://www.bcb.gov.br/pi/camt.054/1.3'
           elementFormDefault='qualified'>

    <xs:element name="Envelope" type="SPIEnvelopeMessage"/>

    <xs:complexType name="SPIEnvelopeMessage">
        <xs:sequence>
            <xs:element name="AppHdr" type="SPI.head.001.001.01"/>
            <xs:element name="Document" type="SPI.camt.054.001.08"/>
        </xs:sequence>
    </xs:complexType>

    <!-- inicio BAH -->
    <xs:complexType name="SPI.head.001.001.01">
        <xs:sequence>
            <xs:element name="Fr" type="Party9Choice"/>
            <xs:element name="To" type="Party9Choice"/>
            <xs:element name="BizMsgIdr" type="MsgIdType"/>
            <xs:element name="MsgDefIdr" type="Max35Text"/>
            <xs:element name="CreDt" type="ISONormalisedDateTime"/>
            <xs:element name="Sgntr" type="SignatureEnvelope"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8">
        <xs:sequence>
            <xs:element name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="ISPBType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISONormalisedDateTime">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]{3}Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISPBType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
            <xs:pattern value="[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MsgIdType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:pattern value="[M][0-9]{8}[a-zA-Z0-9]{23}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Party9Choice">
        <xs:choice>
            <xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SignatureEnvelope">
        <xs:sequence>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#"/>
        </xs:sequence>
    </xs:complexType>
    <!-- fim BAH -->

    <!-- inicio ISO -->
    <xs:complexType name="SPI.camt.054.001.08">
        <xs:sequence>
            <xs:element name="BkToCstmrDbtCdtNtfctn" type="BankToCustomerDebitCreditNotificationV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountIdentification4Choice2">
        <xs:sequence>
            <xs:element name="Othr" type="GenericAccountIdentification12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountNotification17">
        <xs:sequence>
            <xs:element name="Id" type="MsgIdType"/>
            <xs:element name="Acct" type="CashAccount39"/>
            <xs:element name="Ntry" type="ReportEntry10"/>
            <xs:element minOccurs="0" name="AddtlNtfctnInf" type="Max105Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BRL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BankToCustomerDebitCreditNotificationV08">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader81"/>
            <xs:element maxOccurs="unbounded" name="Ntfctn" type="AccountNotification17"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure4">
        <xs:sequence>
            <xs:element name="Domn" type="BankTransactionCodeStructure5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure5">
        <xs:sequence>
            <xs:element name="Cd" type="ExternalBankTransactionDomain1Code"/>
            <xs:element name="Fmly" type="BankTransactionCodeStructure6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure6">
        <xs:sequence>
            <xs:element name="Cd" type="ExternalBankTransactionFamily1Code"/>
            <xs:element name="SubFmlyCd" type="ExternalBankTransactionSubFamily1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount38">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice2"/>
            <xs:element name="Tp" type="CashAccountType2Choice"/>
            <xs:element minOccurs="0" name="Prxy" type="ProxyAccountIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount382">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice2"/>
            <xs:element name="Tp" type="CashAccountType2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount39">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalCashAccountType1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element name="MmbId" type="ISPBType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndDateTime2Choice2">
        <xs:choice>
            <xs:element name="DtTm" type="ISONormalisedDateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="EndToEndIdType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:pattern value="[E|L][0-9]{8}[0-9]{4}[0-1][0-9][0-3][0-9][0-2][0-9][0-5][0-9][a-zA-Z0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EntryDetails9">
        <xs:sequence>
            <xs:element name="TxDtls" type="EntryTransaction10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntryStatus1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalEntryStatus1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EntryTransaction10">
        <xs:sequence>
            <xs:element name="Refs" type="TransactionReferences6"/>
            <xs:element minOccurs="0" name="RltdPties" type="TransactionParties6"/>
            <xs:element name="RltdAgts" type="TransactionAgents5"/>
            <xs:element minOccurs="0" name="RmtInf" type="RemittanceInformation16"/>
            <xs:element minOccurs="0" name="RltdDts" type="TransactionDates3"/>
            <xs:element minOccurs="0" name="RtrInf" type="PaymentReturnReason5"/>
            <xs:element minOccurs="0" name="AddtlTxInf" type="Priority2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalBankTransactionDomain1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PMNT"/>
            <xs:enumeration value="CAMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalBankTransactionFamily1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IRCT"/>
            <xs:enumeration value="RRCT"/>
            <xs:enumeration value="MCOP"/>
            <xs:enumeration value="MDOP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalBankTransactionSubFamily1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NTAV"/>
            <xs:enumeration value="RRTN"/>
            <xs:enumeration value="DMCT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CACC"/>
            <xs:enumeration value="SLRY"/>
            <xs:enumeration value="SVGS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalEntryStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOOK"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalReturnReason1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="ISPBType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification12">
        <xs:sequence>
            <xs:element name="Id" type="Max20Numeric"/>
            <xs:element minOccurs="0" name="Issr" type="Max4Numeric"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="PICnpj"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="PICpfCnpj"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader81">
        <xs:sequence>
            <xs:element name="MsgId" type="MsgIdType"/>
            <xs:element name="CreDtTm" type="ISONormalisedDateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InstrIdType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:pattern value="[D][0-9]{8}[0-9]{4}[0-1][0-9][0-3][0-9][0-2][0-9][0-5][0-9][a-zA-Z0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="PICnpj">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PICpfCnpj">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}([0-9]{3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20Numeric">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[0-9]{1,20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Numeric">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max77Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="77"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="numCtrlSTRType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
            <xs:pattern value="[A-Z]{3}[0-9]{4}[0-1][0-9][0-3][0-9][a-zA-Z0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification29">
        <xs:sequence>
            <xs:element name="Othr" type="GenericOrganisationIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party38Choice">
        <xs:choice>
            <xs:element name="PrvtId" type="PersonIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party38Choice2">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification29"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party40ChoiceCdtr">
        <xs:choice>
            <xs:element name="Pty" type="PartyIdentification135Cdtr"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party40ChoiceDbtr">
        <xs:choice>
            <xs:element name="Pty" type="PartyIdentification135Dbtr"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party40Choice2">
        <xs:choice>
            <xs:element name="Pty" type="PartyIdentification1352"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135Cdtr">
        <xs:sequence>
            <xs:element name="Id" type="Party38Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135Dbtr">
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text"/>
            <xs:element name="Id" type="Party38Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification1352">
        <xs:sequence>
            <xs:element name="Id" type="Party38Choice2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentReturnReason5">
        <xs:sequence>
            <xs:element name="Rsn" type="ReturnReason5Choice"/>
            <xs:element minOccurs="0" name="AddtlInf" type="Max105Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification13">
        <xs:sequence>
            <xs:element name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Priority2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProxyAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max77Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RemittanceInformation16">
        <xs:sequence>
            <xs:element name="Ustrd" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportEntry10">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="Sts" type="EntryStatus1Choice"/>
            <xs:element minOccurs="0" name="BookgDt" type="DateAndDateTime2Choice"/>
            <xs:element minOccurs="0" name="ValDt" type="DateAndDateTime2Choice2"/>
            <xs:element name="BkTxCd" type="BankTransactionCodeStructure4"/>
            <xs:element name="NtryDtls" type="EntryDetails9"/>
            <xs:element minOccurs="0" name="AddtlNtryInf" type="Max4Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReturnReason5Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalReturnReason1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactionAgents5">
        <xs:sequence>
            <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionDates3">
        <xs:sequence>
            <xs:element name="AccptncDtTm" type="ISONormalisedDateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionParties6">
        <xs:sequence>
            <xs:element minOccurs="0" name="InitgPty" type="Party40Choice2"/>
            <xs:element name="Dbtr" type="Party40ChoiceDbtr"/>
            <xs:element name="DbtrAcct" type="CashAccount382"/>
            <xs:element name="Cdtr" type="Party40ChoiceCdtr"/>
            <xs:element name="CdtrAcct" type="CashAccount38"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReferences6">
        <xs:sequence>
            <xs:element minOccurs="0" name="InstrId" type="InstrIdType"/>
            <xs:element name="EndToEndId" type="EndToEndIdType"/>
            <xs:element minOccurs="0" name="ClrSysRef" type="numCtrlSTRType"/>
            <xs:element minOccurs="0" name="TxId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <!-- fim ISO -->
</xs:schema>
